<% title = 'stuff' %>

<form action="/user/new" method="post">
  <div>
  <label>email:</label>
  <input type="text" name="email"/><br/>
  </div>
  <div>
  <label>Username:</label>
  <input type="text" name="username"/><br/>
  </div>
  <div>
  <label>Password:</label>
  <input type="password" name="password"/>
  </div>
  <div>
  <input type="submit" value="Submit"/>
  </div>
</form>
<p><small>Hint - bob:secret</small></p>