.photos-wrapper .photoset {
  float: left;
  width: 25%;
}
.photos-wrapper .photoset.photo {
  margin-bottom: 15px;
}

.photoset-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.photoset .photoset-image-wrapper {
  overflow: hidden;
  display: block;
  padding: 0 15px 0 0;
}

.fb-comments,
.photoset .photoset-iframe {
  width: 100% !important ;
}

@media (max-width: 767px) {
  .photos-wrapper .photoset {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .photos-wrapper .photoset {
    width: 50%;
  }
}